.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'DM Mono', monospace;
  font-size: 1em;
  line-height: 1.4;
}

.prose img {
  width: 100%;
}

.prose ul > li {
  line-height: 1;
  margin: 10px 0px;
}

